:root {
    --black: #000;
    --white: #fff;
    --green: #71c63e;
    --header: #444551;
    --background-dropdown-menu: #3c3c47;
    --border: #3f4048;
    --grey: #5f5e5e;
    --grey-line: #a1a1a1;
    --light-grey: #f3f3f3;
    --font: 'Montserrat', sans-serif;
    --footer: #473e52;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: var(--black);
    padding: 0;
    margin: 0;
    min-width: 320px;
    background-color: var(--light-grey);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    line-height: 1.65em;
}

.logo {
    width: 40px;
    margin-left: 10px;
    margin-right: 5em;
}

.container {
    margin: 0 auto;
    background-color: var(--white);
}

.container__footer {
    background-color: var(--footer);
}

.name-line {
    height: 3px;
    border-radius: 50%;
    background-color: var(--grey-line);
    margin-bottom: 30px;
    margin-top: 30px;
}

h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 0.5em;
    color: var(--grey);
    margin: 0;
    text-align: center;
}

.list-text {
    list-style: none;
    line-height: 2em;
    padding-top: 10px;
}

.my-offer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 35px;

    &__heading {
        font-size: 32px;
    }
}

.comment__heading {
    padding-top: 30px;
}

.picture-about {
    border-radius: 20px;
}

.main-photo {
    border-radius: 20px;
}

.review {
    border-radius: 20px;
}

.review-all {
    display: flex;
    margin-bottom: 70px;
}

.review-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.contacts {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 2.5em;
    background-color: var(--white);

    &-watsapp {
        color: var(--grey);
        font-weight: bold;
        font-weight: 600;
        font-size: 20px;
    }

    &-img {
        margin-right: 10px;
    }

    a {
        text-decoration: none;
    }
}

.telephon_main {
    background-color: var(--white);
}

.whatsapp {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer {
    height: 200px;
    background: var(--footer);
    color: var(--white);
    font-size: 14px;
    font-family: var(--font);
    margin-inline-end: auto;
    display: flex;
    align-items: center;
    text-align: right;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer__logo {
    width: 180px;
}

.footer_credits {
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);

    p {
        line-height: 0.7em;
    }
}

/* DROPDOWNMENU
=============================== */

.my-navbar {
    background-color: var(--header);
    padding-left: 0;
}

.my-project .my-navbar.navbar-light a.my-navbar__link {
    color: var(--white);
}

.my-navbar li:not(:last-child) .my-navbar__link {
    border-right: 2px solid var(--border);
}

.my-navbar__dropdown .my-navbar__dropdown-menu {
    top: calc(100% + .5rem);
    margin-top: 0;
    border: none;
    background-color: var(--background-dropdown-menu);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}

.my-project .my-navbar__dropdown-menu a.my-navbar__dropdown-menu-link {
    color: var(--white);
}

.my-navbar__dropdown-menu a:not(:last-child) {
    border-bottom: 2px solid var(--header);
}

.my-project .my-navbar.navbar-light a.my-navbar__link:hover,
.my-project .my-navbar.navbar-light a.my-navbar__link:focus,
.my-project .my-navbar.navbar-light a.my-navbar__link:active,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:hover,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:focus,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:active {
    color: var(--green);
}

.my-project .my-navbar .my-navbar__dropdown-menu a:hover,
.my-project .my-navbar .my-navbar__dropdown-menu a:focus,
.my-project .my-navbar .my-navbar__dropdown-menu a:active {
    background-color: unset;
}

@media (max-width: 991px) {
    .my-navbar li:not(:last-child) .my-navbar__link {
        border-right: none;
    }

    .my-project .my-navbar {
        padding: 0;
    }

    .logo {
        padding-top: 10px;
        margin-left: 20px;
    }

    .review-all {
        flex-wrap: wrap !important;
    }
}

/* SLIDER
=============================== */

.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    max-width: 540px;
    width: 100%;
    max-height: 675px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

#btn-prev,
#btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover,
#btn-next:hover {
    opacity: 0.6;
}


#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: #000000;
}

span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
}

span:last-child {
    margin-right: 0;
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .footer__logo {
        display: none;
    }

    .footer_credits {
        font-size: 12px;
    }

    .footer_credentials {
        text-align: left;
    }

    .title {
        &__heading {
            font-size: 20px;
        }
    }

    .comment__heading {
        font-size: 14px;
    }

}